@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1"><u>Welcome to Matthew's Animals</u></h1>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Animal</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Piku</td>
          <td>Lighting</td>
        </tr>
        <tr>
          <td>Metalcrux</td>
          <td>Gravity</td>
        </tr>
        <tr>
          <td>Dingle-X</td>
          <td>Water</td>
        </tr>
      </tbody>
    </table>
</div>